img.logo1 {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-left: 60px;
}
img.signup {
  width: 30px;
  height: 30px;
  margin-top: 40px;
  margin-left: 500px;
}
.header {
  background-color: #f7f7f7;

  background-image: url(image/head.jpg);
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
}
.headerText {
  width: 500px;
  height: 130px;
}
.iconHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  width: 350px;
}
.food1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 10px;
}
p.food {
  color: white;
  font-family: sans-serif;
  margin-top: 50px;
  margin-left: 8px;
}
.logoAndButton {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 60px;
}
/* img.signup{
  height: 30px;
  width: 30px;
  margin-left: 1000px;
  margin-top: 40px

} */
button.createEvents {
  box-shadow: none !important;
  background-image: -webkit-linear-gradient(top, #68d253, #28a80f);
  background-image: -moz-linear-gradient(top, #68d253, #28a80f);
  background-image: -ms-linear-gradient(top, #68d253, #28a80f);
  background-image: -o-linear-gradient(top, #68d253, #28a80f);
  background-image: linear-gradient(to bottom, #68d253, #28a80f);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#68D253, endColorstr=#28A80F);
  margin-left: 60px;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 13px;
  font-family: sans-serif;
}
h1.TitleHeader {
  font-family: sans-serif;
  margin-top: 90px;
  margin-left: 60px;
  color: #333333;
}
span.food {
  margin-left: 10px;
  font-family: sans-serif;
  color: white;
  font-size: 12px;
  margin-top: 20px;
}
h3 {
  text-align: center;
  font-family: sans-serif;
  margin-top: 60px;
}
p {
  text-align: center;
  font-family: sans-serif;
  font-size: 13px;
  margin-bottom: 1px;
  margin-top: 2px;
  color: white;
  font-weight: lighter;
}
h5.headerText1 {
  font-family: sans-serif;
  margin: 3px 60px 0px 60px;
  font-weight: lighter;
  font-size: 14px;
  color: white;
  text-align: justify;
}
h6 {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
  margin-top: 1px;
  margin-bottom: 2px;
  margin-left: 10px;
}
h6.title {
  font-weight: bold;
  color: white;
}
.body {
  background-color: white;
}

img.logo {
  height: 40px;
  width: 40px;
  margin-top: 40px;
  margin-right: 90px;
  margin-left: 60px;
  margin-right: 7px;
}
img.ham {
  height: 800px;
  width: 800px;
  margin-top: 20px;
}
img.food {
  height: 40px;
  width: 40px;
  margin-left: 60px;
  margin-top: 30px;
  border-radius: 10px;
}

.wrapper {
  height: 300px;
}
img.sponser {
  border-radius: 10px;
}
