body{
  background-color: #EBEBEB;
}
.box{
  display:grid;
  grid-template-columns: 1fr 1fr;


}
.signup{
  background-color: white;

  margin-top: 150px;
  margin-left: 150px;
  height: 400px;
  box-shadow: 0 5px 20px rgba(0,0,0,.15)
}
.login{
  background: rgb(104,210,83);
  background: linear-gradient(90deg, rgba(104,210,83,1) 0%, rgba(40,168,15,1) 100%);
  margin-top: 150px;
  margin-right: 150px;
  height: 400px;
  box-shadow: 0 5px 20px rgba(0,0,0,.15)

}

/* singup */


/* login */
